<launch>

    <!-- By default, we are not in debug mode -->
    <arg name="debug" default="false" />

    <!-- By default, we won't load or override the robot_description -->
    <arg name="load_robot_description" default="false"/>

    <arg name="use_rviz" default="true" />

    <include file="$(find urdf_manipulator)/launch/control_gazebo.launch">
    </include>

    <!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(find urdf_manipulator_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
        <arg name="fake_execution" value="false"/>
        <arg name="info" value="true"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
    </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(find urdf_manipulator_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find urdf_manipulator_moveit_config)/launch/moveit.rviz"/>
        <arg name="debug" value="$(arg debug)"/>
    </include>

</launch>