<launch>

    <node pkg="urdf_manipulator_simulate" type="getting_tf_parameters.py" name="tf_parameters_service" output="screen"/>
    <node pkg="urdf_manipulator_simulate" type="sequence_planning.py" name="sequence_planning" output="screen"/>
    <node pkg="urdf_manipulator_simulate" type="ik_manipulator.py" name="inverse_kinematics" output="screen"/>

</launch>